@font-face {
    font-family:"Matchalatte";
    src: url("/src/assets/fonts/Matchalatte-w1KV8.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;  
}

@font-face{
    font-family: "Dangrek";
    src: url("/src/assets/fonts/Dangrek-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;   
}