@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    &__link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
          }
    }
    &--clicked {
        color: $primary-highlight;
        background-color: $primary-text;
        padding: 0rem 0.5rem;
        border-radius: 1rem;
    }
}