@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.chat-message {
    display: flex;
    gap: 1rem;
}

.message-name {
    color: $primary-text;
    font-size: 1rem;
}

.message-bubble {
    padding: 1rem;
    background-color: #F8FAFC;
    border-radius: 12px;
    font-size: 0.75rem;
}