@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.blogcard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 22rem;
    min-height: fit-content;
    padding: 1.5rem;
    border-radius: .5rem;
    aspect-ratio: 13/8;
    background-color: $primary-highlight;
    border: 2px solid $primary-text;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
    &__title {
        color: $primary-text;  
        font-size: 2rem;
        padding-bottom: 4rem;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__id {
        color: $primary-accent;
        font-size: 1.5rem;
    }
    &__date {
        text-decoration: none;
        color: $primary-accent;
        font-size: 1.5rem;
    }
}